extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  h2 Add a new task
  form(method='POST' action='/create')
    label(for='task') Task:
    input(type='text', name='task', id='task', required)
    button(type='submit') Create Task

  ol
  each val in todos
    li
      span= val.task + ' - '
      if val.completed > 0
        span Completed
      else
        span Not Completed
      form(method='POST' action='/delete')
        input(type='hidden', name='id', value=val.id)
        button(type='submit') Delete
        
      //adds a complete action
      form(method='POST' action='/complete')
        input(type='hidden', name='id', value=val.id)
        input(type='hidden', name='task', value=1)
        button(type='submit') Complete

      //adds an edit action
      form(method='POST' action='/edit')
        input(type='hidden', name='id', value=val.id)
        input(type='text', name='task', value=val.task, required)
        button(type='submit') Update